<indicators>
   <indicator>
      <positionX> 210 </positionX> 
	  <positionY> 180 </positionY> 
	  <type>SquareLED</type>
	  <portType>in</portType> 
	  <portNum> 0 </portNum> 
	  <title> I_HANDS_UNDER_DRYER </title>
	  <colorTrue> FFFFFF  </colorTrue>
	  <colorFalse> 0 </colorFalse>
	  <bitNum>0</bitNum>
   </indicator>
      <indicator>
      <positionX> 210 </positionX> 
	  <positionY> 35 </positionY> 
	  <type>RoundLED</type>
	  <portType>out</portType> 
	  <portNum> 0 </portNum> 
	  <title> O_TURN_ON_DRYER </title>
	  <colorTrue> FFFFFF </colorTrue>
	  <colorFalse> 0 </colorFalse>
	  <bitNum>0</bitNum>
   </indicator>
</indicators>